html{
    /* background-image: url(../Images/Background/ProfilePageBackground.jpg); */
    /* opacity: 0.1; */
    /* height: 100vh; */
    /* width: 200vh; */
  background-size: cover;
  background-color: rgba(236,236,219,0.5);
  background-image: none;
  cursor: auto;
  font-family: Tahoma;
  /* font-family: Calibri, 'Trebuchet MS', sans-serif; */
}

/* body{
    margin-top: 10%;
} */

cite{
    background-color: none;
}

footer a{
    padding: 0%;
    margin: 0%;
    font-family: Tahoma;
    color: navy;
}

nav{
    background-color: white;
}

h2{
    padding-top: 5%;
    font-size: 150%;
    text-align: center;
}


